<html>
  <head>
    <title>OSRS Cipher Solver</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <p>
      <a href="/">Solve another</a>
    </p>
    <h1>Suspected Solution for: {{ c }}</h1>
    {% if suspected|length > 0 %}
      <ul>
        {% for word in suspected %}
        <li>{{ word|join(" ") }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Nothing matched :( -- look below?</p>
    {% endif %}
    <hr />
    <h1>All Solutions</h1>
    <ul>
      {% for word in solved %}
      <li>{{ word|join(" ") }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
